<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GMKEY>
    </script>

    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/main.js"></script>

  <title>{{title}}</title>
  </head>

  <body>
    <header class="main-header">
      <nav class="cl-effect-21 main-nav">
        {{#if user}}
          <p class="uppercase">
            Welcome {{user.displayName}}
          </p>
          <a href="/logout" class="logout">Logout</a>
          {{else}}
          Welcome to {{title}}
          <p class="login">
            <a href="/auth/google">Login with Google</a>
          </p>
        {{/if}}
      </nav>
    </header>

    <main class="main">
      {{{body}}}
    </main>
  </body>

</html>
